<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Weather Checker App</title>
  </head>
  <body>
    <div class="bg-secondary text-white">
      <div class="p1 bg-light text-dark">
        <h1>Weacher Checker</h1>
        <p>
          Just enter city name or suburb name and press the "Check" button to
          check the real-time weather
        </p>
        <form action="/response" method="GET">
          <label for="city">City/Suburb Name:</label>
          <input type="text" id="city" name="city" />
          <button id="button" class="btn btn-primary">Check</button>
        </form>
      </div>
    </div>
  </body>
</html>
